body{
    background-color: #7195de;
    margin: 4%;
    background-image: url("pexels-black-ice-551383-1314541.jpg"
      );
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 450px;
  }
  
  /* inside .container flex-direction: column; new item will add right side*/
  
  .container{
    padding: 10px;
    padding-left: 0%;
    border: 2px solid rgb(110, 17, 17);
    background-color:rgb(240, 190, 98);
    width: 50%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 25%;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
  }
  
  .head{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  input{
    padding: 10px;
    border: 1px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
  }
  .input{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  /*input:hover{
    background-color: rgb(141, 85, 145);
  }*/
  input:focus{
    border: 0px;
    background-color: beige;
  }
  
  .display{
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px dashed red;
  
  }
  .copyright{
    text-align: center;
  }
  .gamebutton{
    background-color: rgb(20, 143, 69);
    color: white;
    border: 2px solid white;
    padding: 10px 1%;
    margin: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-radius: 25px;
  }
  .gamebutton:hover{
    background-color: rgb(36, 255, 124);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .gamebutton:active{
  background-color: rgb(20, 143, 69);
      border: 2px solid yellow;
  
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      transform: translateY(4px);
  }